doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://unpkg.com/papercss@1.4.1/dist/paper.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='row site flex-middle')
      div(class="col sm-3")
        div(class="paper")
          div(class="row flex-center")
            div
              block sidebar
                ul(class='sidebar-nav')
                  li
                    a(href='/catalog') Home
                  li
                    a(href='/catalog/books') All books
                  li
                    a(href='/catalog/authors') All authors
                  li
                    a(href='/catalog/genres') All genres
                  li
                    a(href='/catalog/bookinstances') All book instances
                  hr
                  li
                    a(href='/catalog/author/create') Create new author
                  li 
                    a(href='/catalog/genre/create') Create new genre
                  li 
                    a(href='/catalog/book/create') Create new book
                  li 
                    a(href='/catalog/bookinstance/create') Create new book instance (copy)
      div(class='col sm-8')
        div(class='paper')
          block content